body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header {
    margin: auto;
    text-align: center;
}

.setup-buttons-container {
    display: flex;
    gap: 5px;
    margin: auto;
}

.gameBoardContainer {
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



div.gameBoardSpace {
    outline: 2px solid black;
    padding: 0;
}

button.gameBoardSpace {
    width: 100%;
    height: 100%;
    font-size: 26px;
    background-color: white;
}

button.gameBoardSpace:disabled {
    color: black;
    border: 2px solid black;
}

.score-container {
    width: 200px;
    margin: auto;
}

.score-container div {
    font-size: 25px;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.game-display {
    margin: auto;
}