

.header {
    margin: auto;
    text-align: center;
}
.gameBoardContainer {
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div.gameBoardSpace {
    outline: 2px solid black;
    padding: 0;
}

button.gameBoardSpace {
    width: 100%;
    height: 100%;
    font-size: 26px;
    background-color: white;
}

button.gameBoardSpace:disabled {
    color: black;
    border: 2px solid black;
}